.notification-list {
  background-color: whitesmoke;
  border: 1px solid black;

  .critical {
    color: red;
  }

  .high {
    color: orange;
  }

  .medium {
    color: yellow;
  }

  .low {
    color: lightblue;
  }
}
